body {
    background-color: #dfe6e9;
}
.w-12 {
    width: 60px;
    display: inline-block !important;
}

.text-sm {
    font-size: 12px !important;
}

footer {
    font-size: smaller !important;
    text-transform: uppercase !important;
    color: #00b894 !important;
}
.bg-modal {
    background: #00b894 !important;
}

.delete-icon {
    cursor: pointer !important;
}